$primary-font : 'Open Sans', sans-serif;

$semi-bold : 600;

$h1 : 40px;

$p : 16px;

$primary-color : #000000c9;

$secendry-color : #ffffffcf;

$orange: #f05033;

$bg : linear-gradient(#152414, rgb(7 247 81 / 30%));

$wshadow : #ffffffcf;
