//                                                                  Import secton                                           


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "./variable";


//                                                                  Import secton                                           






//                                                                  First secton                                           


.first {
    position: relative;
    background-image: url(../photos/header_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .navbar {
        padding: 15px 0;

        .logo {
            width: 35px;
            box-shadow: 0px 0px 18px -1px $wshadow;
            border-radius: 100%;
        }

        .navbar-toggler {
            padding: 3px 6px;
            border: 0;
            background-color: #62889a;

            &:focus {
                box-shadow: 2px 3px 6px 1px #f37059c4;
            }

        }


        .nav-item {
            padding: 0 5px 0;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: $orange;
                border-radius: 9px;
            }

        }

        .nav-link {
            color: rgb(0 0 0 / 76%);
            font-weight: 700;
            font-size: 16px;
        }

    }

    .sticky {
        position: fixed;
        width: 100%;
        background: linear-gradient(#ffffffe8, rgb(0 0 0 / 79%));
        z-index: 15;
    }

    .hero_area {
        padding-top: 110px;
        position: relative;

        h1 {
            font-weight: $semi-bold;
            font-size: $h1;
            background: linear-gradient(#f05033, #ffffff);
            padding: 0 0 15px;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        
        p {
            font-weight: 500;
            font-size: $p;
            color: $secendry-color;
        }

        .butterfly {
            color: $orange;
            position: absolute;
            width: 50px;
            transform: translate(-50%);
            opacity: 0.7;
            z-index: 20;
        }

    }

}

//                                                                  First secton                                           





//                                                                  Secend secton                                           


.secend {
    background: $bg;
    padding: 100px 0 0;
    position: relative;
    
    .title_part_left {

        .blinkng_text {
            display: flex;

            .title {
              font-weight: $semi-bold;
              font-size: $h1;
              padding: 0 0 15px;
              background: linear-gradient(#f05033, #ffffff);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
              
            }

            .typeWrite {
                font-weight: $semi-bold;
                font-size: $h1;
                position: relative;
                padding: 0 0 15px;
                background: linear-gradient(#f05033, #ffffff);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;

                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 44px;
                    bottom: 15px;
                    background: #fff;
                    background: linear-gradient(#f05033, #ffffff);
                    animation: blinking alternate infinite 0.5s cubic-bezier(0.26, -0.6, 0, 1.47);
                }

            }
            
            @keyframes blinking {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

        }

        p {
            font-weight: 500;
            font-size: $p;
            color: $secendry-color;
        }

        button {
            border: none;
            background: $orange;
            color: $primary-color;
            padding: 10px 20px;
            border-radius: 15px;
            cursor: pointer;
        }

    }

    .title_part_right{

        img {
            width: 100%;
            
        }

    }

}

//                                                                  Secend secton                                           


